.content form input {
    width: 100%;
    height: 20px;
    padding: 5px 0;
    margin: 10px 0 20px;
}

.content form textarea {
    width: 100%;
    height: 300px;
    margin: 5px 0;
}

.content form span {
    padding: 10px 0 10px 0;
}

.content form button {
    background-color: #4aaaa5;
    color: whtie;
    padding: 10px 20px;
    font-size: 16pt;
}
